@font-face {
  font-family: "Libre Franklin";
  src: url('https://mattborja.dev/assets/fonts/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf');
}

.container {
  max-width: 700px;
}

a, code {
  color: #ce1414;
}

a:hover {
  color: #ff5050;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Franklin', sans-serif;
}

h2 {
  margin-top: 3rem!important
}
