@font-face {
  font-family: "Libre Franklin";
  src: url('https://mattborja.dev/assets/fonts/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf');
}

body {
  background: url('assets/img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: #fffc;
}

.border {
  border-color: #ccca !important;
}

.bg-dark {
  background-color: #000a!important;
}

.bg-light {
  background-color: #333a!important;
}

.bg-secondary {
  background-color: #8886!important;
}

.text-primary {
  color: #ffd966;
}

.text-danger {
  color: #ea9999!important;
}

.text-dark {
  color: #aaa!important;
}

.text-muted, .text-secondary {
  color: #fff8!important;
}

.text-success {
  color: #0e0a!important;
}

.container {
  max-width: 700px;
}

a, code {
  color: #ea9999;
}

a:hover {
  color: #ff5050;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Franklin', sans-serif;
}

h2 {
  margin-top: 3rem!important
}
